<footer>
  <div class="img">
    <img src="/images/hand-drawn-nomad-visa-template.png" alt="ills image" />
  </div>
  <div class="right-side">
    <div class="ran-text">
      <h2><b>Our Promise</b></h2>
      <p>"We connect you to extraordinary places with trusted hospitality."</p>
    </div>
    <div class="f-info">
      <div class="f-info-socials">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
      <div class="f-info-name">&copy;Trip While Private Limited</div>
      <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        &nbsp;|&nbsp;
        <a href="/terms">Terms</a>
      </div>
    </div>
  </div>
</footer>
